@font-face {
    font-family: 'Outfit';
    src: url('assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Young Serif';
    src: url('assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5dc;
}

.main-container {
    margin: 100px;
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: white;
    border-radius: 10px;
}

.main-container * {
    margin-left: 50px;
    margin-right: 50px;
}

.image-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 100%;
    border-radius: 10px;
}

h2 {
    color: #8B4513;
}

p {
    color: #CD853F;
}

.recipe-title {
    font-family: 'Young Serif', sans-serif;
    font-size: 20px;
    margin-top: 15px;
    color: #5C2E0F;
}

.recipe-intro {
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    margin-top: -15px;
}

.recipe-legend {
    padding: 25px 0;
    background-color: #dcf5f5;
    border-radius: 10px;
    font-family: 'Young Serif', sans-serif;
    font-size: 20px;
    margin: 25px 100px 35px;
    color: #2E8B57;
}

.recipe-legend ul {
    list-style-type: disc;
    padding-left: 20px;
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
}

.recipe-legend li {
    margin: 25px 5px;
    padding-left: 15px;
}

.recipe-legend li::marker {
    color: #2E8B57;
}

.recipe-legend a {
    margin: 0;
    color: #66CDAA;
    text-decoration: none;
}

.recipe-legend a:hover {
    color: #2E8B57;
    text-decoration: underline;
}

.recipe-time {
    margin: 0 100px;
    padding: 25px 0;
    background-color: #f5dcdc;
    border-radius: 10px;
    font-family: 'Young Serif', sans-serif;
    font-size: 20px;
    color: #8B3A62;
}

.recipe-time ul {
    list-style-type: disc;
    padding-left: 20px;
    color: #B565A7;
}

.recipe-time li {
    font-family: 'Outfit', sans-serif;
    margin: 25px 5px;
    font-size: 16px;
    padding-left: 15px;
}

.recipe-time li::marker {
    color: #8B3A62;
}

.time-title {
    margin: 0;
    color: #8B3A62;
    font-weight: bold;
}

.recipe-ingredients {
    font-family: 'Young Serif', sans-serif;
    font-size: 20px;
}

.recipe-ingredients ul {
    list-style-type: disc;
    padding-left: 20px;
}

.recipe-ingredients li {
    color: #CD853F;
    font-family: 'Outfit', sans-serif;
    margin: 25px 5px;
    font-size: 16px;
    padding-left: 15px;
    text-align: justify;
}

.recipe-ingredients li::marker {
    color: #8B4513;
}

.separator {
    border-bottom: 1px solid lightgray;
    margin-left: 100px;
    margin-right: 100px;
}

.recipe-instructions {
    font-family: 'Young Serif', sans-serif;
    font-size: 20px;
}

.recipe-instructions ol {
    list-style-type: decimal;
    padding-left: 20px;
}

.step-title {
    margin: 0;
    color: #5C2E0F;
    font-weight: bold;
}

.recipe-instructions li {
    color: #CD853F;
    font-family: 'Outfit', sans-serif;
    margin: 25px 5px;
    padding-left: 15px;
    font-size: 16px;
    text-align: justify;
}

.recipe-instructions li::marker {
    color: #8B4513;
}

.recipe-nutrition {
    font-family: 'Young Serif', sans-serif;
    font-size: 20px;
    padding-bottom: 25px;
}

.recipe-nutrition p {
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
}

.nutrition-table {
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
}

.nutrition-row {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
}

.nutrition-label {
    width: 50%;
    margin-left: 0;
    text-align: left;
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    color: #CD853F;
}

.nutrition-value {
    width: 50%;
    margin-left: 0;
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    color: #8B4513;
    font-weight: bold;
}
